<!--templates/home.html-->

{% extends "base.html" %} 

{% block title %} SmartSplit | Home {% endblock %}

{% block content %}
{% if user.is_authenticated %}
    <h1>Home Page</h1>
    <p>Hello, {{user.username}}.</p>
    <br>

    <!-- Outgoing Cash requests-->
    {% for record in outgoing_requests %}
    <h4>Your outgoing cash requests:</h4>
    <p>To <b>{{ record.recipient }}</b> for {{ record.request_amount }}. Reason: {{ record.message }}</p>
    {% endfor %}

    <!--Incoming Cash requests -->
    {% for record in incoming_requests %}
    <h4>Your incoming cash requests:</h4>
    <p>From <b>{{ record.sender }}</b> for {{ record.request_amount }}. Reason: {{ record.message }}</p>
    {% endfor %}

{% else %}
    <p>You are not logged in</p>
    <a href="{% url 'login' %}">Log in</a> |
    <a href="{% url 'signup' %}">Create an account</a>
{% endif %}
{% endblock content %}