<!--templates/home.html-->

{% extends "base.html" %}

{% block title %} SmartSplit | Home {% endblock %}

{% block content %}
{% if user.is_authenticated %}

<style>
    @keyframes scrollBg {
        from {
            transform: translateY(0px);
        }

        to {
            transform: translateY(-330px);
        }
    }

    .scroll-bg {
        height: 100%;
        width: 100%;
        position: fixed;
        padding-bottom: 330px;
        background-color: #E8BA9B;
        background-image: url('https://andreivictor.ro/codepen/scroll-bg-animation-pinterest/bg_pasta_grid-3f880df3.jpg');
        background-size: cover;
        animation: scrollBg 35s linear forwards;
    }
</style>

<h1>Home Page</h1>

{% else %}
<p>You are not logged in</p>
<a href="{% url 'login' %}">Log in</a>
{% endif %}
{% endblock content %}