<!--templates/home.html-->

{% extends "base.html" %} 

{% block title %} SmartSplit | Home {% endblock %}

{% block content %}
{% if user.is_authenticated %}
    <h1>Home Page</h1>
    <p>Hello, {{user.username}}.</p>
    <br>

    <!--Incoming Cash requests -->
    {% if incoming_requests %}
    <div class="card" style="width: 22rem;">
        <div class="card-body">
            <h4>Your incoming cash requests:</h4>
            {% for record in incoming_requests %}
            <p>From <b>{{ record.sender }}</b> for {{ record.request_amount }}. Reason: {{ record.message }}</p>
            {% endfor %}
        </div>
    </div>
    {% endif %}

    <!-- Outgoing Cash requests-->
    {% if outgoing_requests %}
    <div class="card" style="width: 22rem;">
        <div class="card-body">
            <h4>Your outgoing cash requests:</h4>
            {% for record in outgoing_requests %}
            <p>To <b>{{ record.recipient }}</b> for {{ record.request_amount }}. Reason: {{ record.message }}</p>
            {% endfor %}
        </div>
    </div>
    {% endif %}

    <!-- Outgoing Cash payment-->
    {% if outgoing_payments %}
    <div class="card" style="width: 22rem;">
        <div class="card-body">
            <h4>Your outgoing payments:</h4>
            {% for record in outgoing_payments %}
            <p>To <b>{{ record.recipient }}</b> for {{ record.request_amount }}. Reason: {{ record.message }}</p>
            {% endfor %}
        </div>
    </div>
    {% endif %}

    <!-- Incoming Cash payment-->
    {% if incoming_payments %}
    <div class="card" style="width: 22rem;">
        <div class="card-body">
            <h4>Your incoming payments:</h4>
            {% for record in incoming_payments %}
            <p>From <b>{{ record.sender }}</b> for {{ record.request_amount }}. Reason: {{ record.message }}</p>
            {% endfor %}
        </div>
    </div>
    {% endif %}

    <!-- Incoming Friend Requests-->
    {% if friend_requests %}
    <div class="card" style="width: 22rem;">
        <div class="card-body">
            <h4>Friend Requests:</h4>
            {% for record in friend_requests %}
            <p>From <b>{{ record.sender }}</b>. Message: {{ record.message }}</p>
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                Check Message
            </button>
            
            <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Accept Friend Request?</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                    <b>{{ record.sender }}</b> <br>
                    <p>Message: {{ record.message }}</p>
                    </div>
                    <div class="modal-footer">

                    <form method="POST">
                        {% csrf_token %}
                        <button type="submit" name="reject" value="{{ record.sender }}" class="btn btn-secondary">Recept</button>
                        <button type="submit" name="accept" value="{{ record.sender }}" class="btn btn-primary">Accept</button>
                    </form>

                    </div>
                </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    {% endif %}



{% else %}
    <p>You are not logged in</p>
    <a href="{% url 'login' %}">Log in</a> |
    <a href="{% url 'signup' %}">Create an account</a>
{% endif %}
{% endblock content %}