{% extends "nonauth_base.html" %} 

{% block title %} SmartSplit | Log In {% endblock %}

{% block content %} 

<div class="container-fluid" style="">
    <div class="row align-items-center" style="padding-top: 10%;">

        <div class="col ">
            <div class="offset-md-4">
                <h1 style="font-size: 4em;">Welcome Back</h1>
                <p style="font-size: 1.2em;">Spotting a friend? Planning a group vacation? <br>
                    Save time an energy. Split the bill; fundraise a trip with SmartSplit.</p>
            </div>
        </div>

        <div class="col">
            {% if form.errors %}
            <div class="alert alert-danger alert-dismissible" role="alert">
                <div id="form_errors">
                    {% for key, value in form.errors.items %}
                        <strong>{{ value }}</strong>
                    {% endfor %}
                </div>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            {% endif %}
            <h2 class="offset-md-1">Sign In</h2>
            <form method="POST">
                {% csrf_token %}
                <div class="form-row">
                    <div class="col-md-6 offset-md-1">
                        <div class="form-group">
                            <label class="small mb-1">Username</label>
                            {{ form.username }}
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-md-6 offset-md-1">
                        <div class="form-group">
                            <label class="small mb-1">Password</label>
                            {{ form.password }}
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-md-10 offset-md-1">
                        <div class="form-group">
                            {{ form.remember_me }}
                            <label> Remember me</label>
                        </div>
                    </div>
                </div>
                <br>
                <div class="form-row">
                    <div class="offset-md-1">
                        <button name="login" class="col-md-2 btn btn-success" id="login" type="submit">Sign In</button>
                        <a href="{% url 'password_reset' %}"><button name="forgot_pw" class="col-md-3 btn btn-secondary">Forgot password</button></a>
                    </div>
                </div>
            </form>
            <br>
            <a class="offset-md-1" href="{% url 'signup' %}" style="color: cornsilk;">Don't have an account yet? Go to signup</a><br>
        </div>
    </div>
    <div style="position: absolute; bottom: 10px;">
        <p>&copy Xavier Evans 2023. This is a demo project only.</p>
    </div>
</div>


{% endblock content %}